.login{
	background: black;
    border-radius: 10px;
    width: 100%;
	&__align{
		display: flex;
        justify-content: center;
        flex-direction: column;
        padding:0.5rem;
        color: white;
	}
	&__btn{
		display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1.5rem;
        margin-top: 15px;
       
	}
    &__forgot{
		display: flex;
        padding-top: 1rem;
        padding-bottom: 1rem;
        justify-content: center;
	}
    &__input-label{
        border-radius: .4rem;
        height: 2.3rem;
    }

    @include from(m){
        max-width:300px;
     }

    @include from(lg){
       max-width:400px;
    }

    

    
}

form{
    margin-bottom: 0;
}