.tns-promotion {
    margin: 0 auto;
    width: 65%;
    max-width: 65%;

    h1{
        font-size: 1.5rem;
    }
  &>div:nth-child(odd) {
      background: var(--color-first);
  }
  &>div:nth-child(even) {
      background: var(--color-third);
  }
  &__content {
      background: transparent;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 0.5rem;
      span {
          color: white;
      }
  }
  &__img{
      border-radius: 10px;
  }
  @include fromTo(s,m){
    width: 91%;
    max-width: 91%;
    }
}