.table-horse{
	td{
		vertical-align: text-top;
	}
}

.lorem{
	display: none;
}

.lorem:first-of-type{
	display: block;
}
.tabs-container.caballos{
	@include from(m){
		overflow-y: auto;
	}
	@include from(s){
		overflow-y: scroll;
	}
}

.caballos .tabs-container__tab{
	border: 1px solid #fff;
}

.caballos .tabs-container__tab.is-active:hover{
	background: yellow;
}

.tabs-container__panels{
	
	margin-top: 2rem;
	width: auto;
	h3{
		text-align: left;
	}
	
	table,th {
		border: solid 1px #fff;
		padding: 10px;
	}
	td{
		border: solid 1px rgba(0, 0, 0, 0.199);
		padding: 10px;
		color: var(--color-grayLow);
	}
	
	table {
		border-collapse:collapse;
		caption-side:bottom;
	}
	
	caption {
		font-size: 16px;
		font-weight: bold;
		padding-top: 5px;
	}
	td{
		vertical-align: text-top;
	}
}
