.tns-single{
	& > div:nth-child(odd){
		
	}
	& > div:nth-child(even){
		
	}
	&__content{
		max-height: 310px;
		display           : flex;
		justify-content   : center;
		flex-direction    : column;
		align-items       : center;
		span{color        : gray;}
	}

	.height_content {
		height        : 310px;
		border-radius : 10px;
		@include from(l){
				min-height        : auto;
		}
	}
}


