.grid-container {
  margin: 50px auto;
  width: 91%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  gap: 1em;
  grid-template-areas: 
    'one one one two'
    'one one one three'
    'one one one four';

    &__grid-item {
      border-radius: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      border: 2px solid #4e4e4e;
      position: relative;

      span{
        font-weight: bold;
        font-size: 1rem;
      }

      .icon{
        font-size: 3rem;
        color: #ff9c00 !important;
        position: absolute;
        left: 10%;
      }

      /*IPAD PRO*/
      @include fromTo(l,xl) {
        .icon{
          font-size: 2rem;
        }
      }

      /*MOBILE*/
      @include fromTo(s,m) {
        &.two{
          height: 10vh;
        }
      }

      &:nth-child(1) {
        grid-area: one;
      
      }

      &:nth-child(2) {
        grid-area: two;
        
      }

      &:nth-child(3) {
        grid-area: three;
      
      }

      &:nth-child(4) {
        grid-area: four;
        
      }

      
    }

    /*IPAD*/
    @include fromTo(m,l) {
        grid-template-areas: 
        'one one two two'
        'one one three three'
        'one one four four';
        grid-template-columns: 1fr 1fr 1fr 0.5fr;
    }

    @include fromTo(m,lg) {
      &__grid-item{

        display: block;
        text-align: center;
      
      .icon {
        font-size: 2rem;
        left: auto;
        position: relative;
        display: block;
        padding-top: 26px;
        text-align: center;
      }
    }
    }

    /*MOBILE*/
    @include fromTo(s,m) {
        grid-template-areas: 
        'one one one one'
        'two two two two'
        'three three three three'
        'four four four four';

        .icon {
          font-size: 2rem;
        }
    }
}


.grid-box {
  margin: 15px 15px;
  height: 35vh;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
  gap: 1em;
  grid-template-areas: 
    'one one one two'
    'one one one three';
  align-items: center;

    &__grid-item {
      display: inline-grid;

      img{
        width: 50%;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
      }

      p{
        text-align: center;
        font-size: 1rem;
        margin-top: auto;
        margin-bottom: 0;
      }

      &:nth-child(1) {
        grid-area: one;
      }

      &:nth-child(2) {
        grid-area: two;
      }

      &:nth-child(3) {
        grid-area: three;
      }

      &:nth-child(4) {
        grid-area: four;
        background-color: #f6511d;
      }

      
    }

    .box-video {
      height: 79%;
      overflow: hidden;
      padding-bottom: 44.25%;
      position: relative;

      iframe{
        border: none;
        height: 100%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top: 0;
        width: 79%;
        margin-bottom: 0;
        padding-bottom: 0;
      }
  }

     /*IPAD PRO*/
    @include fromTo(l,lg) {
      grid-template-areas: 
      'one one two two'
      'one one three three';
      grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  }

    /*IPAD*/
    @include fromTo(m,l) {
        grid-template-areas: 
        'one one one one'
        'two two three three';
        grid-template-columns: 1fr 1fr 1fr 1fr;
        &__grid-item p {
          font-size: 0.83rem;
      }
    }

    /*MOBILE*/
    @include fromTo(s,m) {
        grid-template-areas: 
        'one one one one'
        'two two three three';
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: auto;

        &__grid-item p {
          font-size: 0.83rem;
        }
      }
    
}