section(class="section-promotions")
    div(class="section-promotions__content")
        include ../config/mixins/bonuses-mixin
    div(class="btn-register-internal")
      a(class="btn btn__register" href="registro.html") Regístrate Ya