section(class="casino")
    div(class="casino__banner")
        picture
            source(media="(min-width: 640px)", srcset="assets/img/slider-casino-en-vivo-dk.jpg")
            img(src="assets/img/slider-casino-en-vivo-mb.jpg", alt="Banner casino en vivo")
    div(class="casino__content")
        include:markdown-it(html) ../md/page-casino-en-vivo.md