section(class="sectionApp")
    div(class="sectionApp__container")
        h2(class="sectionApp__title") Descarga el software de Poker
        div(class="sectionApp__card-Download ed-container")
            div(class="sectionApp__card ed-item s-1 m-30")
                p(class="sectionApp__texto") Escritorio Windows 
                a(href="https://lapokers.evenbetpoker.com/downloads/PokerFran/win/PokerFranSetup.exe" target="_blank")
                    img(class="sectionApp__img" src="assets/img/windows.png" alt="icon software" width="100" heigth="100")
                    span(class="sectionApp__link") Descargar 
            div(class="sectionApp__card ed-item s-1 m-30")
                p(class="sectionApp__texto") App Android
                a(href="https://lapokers.evenbetpoker.com/downloads/PokerFran/android/PokerFran.apk" target="_blank")
                    img(class="sectionApp__img" src="assets/img/android.png" alt="icon software" width="100" heigth="100")
                    span(class="sectionApp__link") Descargar 
        div(class='sectionApp__navegador')
            img(src="assets/img/chromeIcon.png" alt="icon chrome" class="sectionApp__img-chrome" width="320" height="320")
            p(class="sectionApp__texto") Se recomienda usar Navegador Chrome
div(class="btn-register-internal")
  a(class="btn btn__register" href="registro.html") Regístrate Ya
