div(class='footer')
	div(class= 'footer__subFooter ed-grid m-grid-2  lg-grid-3 row-gap')
		include ../config/mixins/footer-mixin
	div(class='footer__bottom')
		p Powered by JazzGS  
		a(href='https://jazzgs.com/', target="_blank"): img(class='footer__bottom__img', src="assets/img/powered-jgs.png", alt="image JazzGs", width="108" height="30" )
