section(class="jresponsable")
    div(class="jresponsable__banner")
        picture
            source(media="(min-width: 640px)" srcset="assets/img/slider-juego-responsable-dk.jpg" alt="Banner juego responsable" width="1949" height="547")
            img(src="assets/img/slider-juego-responsable-mb.jpg" alt="Banner juego responsable" width="1949" height="547")
    div(class="jresponsable__content")
        include:markdown-it(html) ../md/page-juego-responsable.md
div(class="btn-register-internal")
  a(class="btn btn__register" href="registro.html") Regístrate Ya