section(class='poker')
    div(class='tns-poker' id='tnsPoker')
        include ../config/mixins/slider-poker-mixin
    div(class='poker_content')
        include:markdown-it(html) ../md/page-poker.md
