section(class='poker')
    div(class='poker__slider' id='tnsPoker')
        include ../config/mixins/slider-poker-mixin
    div(class='poker__content')
        include:markdown-it(html) ../md/page-poker.md
