section(class="privacidad")
    div(class="privacidad__banner")
        picture
            source(media="(min-width: 640px)" srcset="assets/img/slider-politica-de-privacidad-dk.jpg" alt="Banner politica de privacidad" width="1949" height="547")
            img(src="assets/img/slider-politica-de-privacidad-mb.jpg" alt="Banner politica de privacidad" width="1949" height="547")
    div(class="privacidad__content")
        include:markdown-it(html) ../md/page-politica-de-privacidad.md
div(class="btn-register-internal")
  a(class="btn btn__register" href="registro.html") Regístrate Ya