section(class="reglasCasa")
    div(class="reglasCasa__banner")
        picture
            source(media="(min-width: 640px)" srcset="assets/img/slider-reglas-de-la-casa-dk.jpg" alt="Banner reglas de la casa" width="1949" height="547")
            img(src="assets/img/slider-reglas-de-la-casa-mb.jpg" alt="Banner reglas de la casa" width="1949" height="547")
    div(class="reglasCasa__content")
        include:markdown-it(html) ../md/reglas-de-la-casa.md
div(class="btn-register-internal")
  a(class="btn btn__register" href="registro.html") Regístrate Ya