div(class='ed-grid s-grid-1 l-grid-4')
	div(class='l-cols-3 m-cols-2')
		div(class='tns-single' id='tnsSingle')
			include ../config/mixins/slider-primary-mixin
	div(class='container__signup l-cols-1 m-cols-2')
		include ../components/login