div(class='container ed-container ed-grid s-grid-1 lg-grid-4 rows-gap cols-gap')
	div(class='container__slider lg-cols-3')
		div(class='tns-single' id='tnsSingle')
			include ../config/mixins/slider-primary-mixin
	div(class='container__signup s-y-2 s-x-1 lg-y-1 lg-x-4')
		include ../components/login