div(class='ed-container')
	div(class='ed-item')
		div(class='tabs-container')
			ul(class='tabs-container__tabs' id='tabs')
				li(class='tabs-container__tab' id="tableOne") PISTA A
				li(class='tabs-container__tab' id="tableTwo") PISTA B
				li(class='tabs-container__tab' id="tableThree") PISTA C
				li(class='tabs-container__tab' id="tableFour") GALGOS
				li(class='tabs-container__tab' id="tableFive") INTERNACIONAL
			
			div(class='tabs-container__panels')
				div(class='tabs-container__panel is-active')
					include ../config/mixins/table-caballos-mixin
