nav(class='top-nav')
	div(class='top-nav__container')
		div(class='top-nav__align')
			a(href='./', class='top-nav__link')
				img(src='https://betfran.com/assets/images/betfran/sb-logo.png', alt='', class='top-nav__logo')
		div
			ul(class='top-nav__menu')
				include ../config/mixins/topNav-mixin
		div(class='top-nav__align') 	
			button(class="btn btn__login btnlogin") INGRESAR
			button(class="btn btn__register") REGISTRATE
			button(type='button', class='top-nav__mb-iconMenu hamburger hamburger--slider-r')
					span.hamburger-box
						span.hamburger-inner
