div(class='grid-container')
  div(class='grid-container__grid-item')
    div(class='grid-box')
      include ../config/mixins/video-home-mixin
  div(class='grid-container__grid-item two' href="promociones.html") 
    i(class="fad fa-gift icon")
    span Promociones y Bonos
  div(class='grid-container__grid-item two' href="banca.html")
    i(class="fas fa-money-check-alt icon")
    span Recargas y Pagos
  div(class='grid-container__grid-item two' href="contacto.html")
    i(class="fas fa-hands-heart icon")
    span Servicio al cliente