extends ../config/template
append config
	-currentPage		= "AcercaDeNosotros"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido acerca de nosotros'
block main-header
block main-container
	include ../components/acerca-de-nosotros
block main-footer
block scripts
