extends ../config/template
append config
	-currentPage		= "Apuestas en vivo"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido apuestas en vivo'
block main-header
block main-container
	include ../components/apuestas-en-vivo
block main-footer
block scripts
