extends ../config/template
append config
	-currentPage		= "Banca"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido Banca'
block main-header
block main-container
	include ../components/banca
block main-footer
block scripts
