extends ../config/template
append config
	-currentPage		= "BonoBienvenidaDeportes"
	-siteName			= 'Betfran' 
	-content			= 'content'
	-pageDescription	= 'Contenido promociones'
block main-header
block main-container
	include ../components/bono-bienvenida-deportes
block main-footer
block scripts 
