extends ../config/template
append config
	-currentPage		= "Caballos"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido caballos'
block main-header
block main-container
	include ../components/caballos
block main-footer
block scripts
