extends ../config/template
append config
	-currentPage		= "Casino"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido casino'
block main-header
block main-container
	include ../components/casino
block main-footer
block scripts
