extends ../config/template
append config
	-currentPage		= "Casino en vivo"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido casino en vivo'
block main-header
block main-container
	include ../components/casino-en-vivo
block main-footer
block scripts
