extends ../config/template
append config
	-currentPage		= "Deportes"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido deportes'
block main-header
block main-container
	include ../components/sports
block main-footer
block scripts
