extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Betfran casa de apuestas'
block main-header
block main-container
	include ../components/slider-login-homepage
	include ../components/video-home
	include ../components/promotions-home
block main-footer
block scripts
