extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'This website contains a collection of projects developed by Enrique Estrada using a Gulp boilerplate developed by him'
block main-header
block main-container
	include ../components/slider-login-homepage
	include ../components/promotions-home
	include ../components/tns-carousel-banca-home
block main-footer
block scripts
