extends ../config/template
append config
	-currentPage		= "JuegoResponsable"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido juego responsable'
block main-header
block main-container
	include ../components/juego-responsable
block main-footer
block scripts
