extends ../config/template
append config
	-currentPage		= "PoliticaDePrivacidad"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido politica de privacidad'
block main-header
block main-container
	include ../components/politica-de-privacidad
block main-footer
block scripts
