extends ../config/template
append config
	-currentPage		= "Promociones"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido promociones'
block main-header
block main-container
	include ../components/bonuses
block main-footer
block scripts
