extends ../config/template
append config
	-currentPage		= "Registro"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido registro'
block main-header
block main-container
	include ../components/signup
block main-footer
block scripts
