extends ../config/template
append config
	-currentPage		= "ReglasPoker"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido reglas de poker'
block main-header
block main-container
	include ../components/reglas-de-poker
block main-footer
block scripts
