extends ../config/template
append config
	-currentPage		= "ReglasDeportes"
	-siteName			= 'PokerFran' 
	-content			= 'content'
	-pageDescription	= 'Contenido reglas de deporte'
block main-header
block main-container
	include ../components/reglas-de-deportes
block main-footer
block scripts 
