extends ../config/template
append config
	-currentPage		= "ReglasDeLaCasa"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido reglas de la casa'
block main-header
block main-container
	include ../components/reglas-de-la-casa
block main-footer
block scripts
