extends ../config/template
append config
	-currentPage		= "Resetear"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido resetear'
block main-header
block main-container
	include ../components/resetear-contrasena
block main-footer
block scripts
