extends ../config/template
append config
	-currentPage		= "TerminosYcondiciones"
	-siteName			= 'BetFran'
	-content			= 'content'
	-pageDescription	= 'Contenido terminos y condiciones'
block main-header
block main-container
	include ../components/terminos-y-condiciones
block main-footer
block scripts
