*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	color: white;
	background: #00CBFF;
}

strong {
	font-weight 	: 700;
}

body {
	margin         	: var(--header-height) 0 0 0;
	min-height     	: calc(100vh - var(--header-height));
	background 		: var(--body-bg);
	display        	: flex;
	flex-direction 	: column;
	background		: var(--color-first);
}

.main-header{
	font-size  		: fontSize(small);
	font-weight      : bold;
}
.main-container{
	color      		: #FFF;
	padding    		: 2rem 0 0 0;
	font-size  		: fontSize(smaller);
}
.main-footer {
	background 		: $color-first;
	color      		: #FFF;
	padding    		: 2rem 0 0 0;
	font-size  		: fontSize(smaller);
	font-family		: $footer-font;
}

.main-header .ed-grid,
.main-container .ed-grid,
.main-footer .ed-grid{
	width: 91%;
	max-width: 91%;
	margin-left: auto;
	margin-right: auto;
}

.btn-register-internal{
	text-align: center;
	.btn__register{
		text-transform: uppercase;
		font-size: 1.69rem;
    font-weight: bold;
    padding: 9px 51px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	}
}
