mixin topNav(title, src)
    li(class='top-nav__li'): a(href=`${src}`, class='top-nav__anchor', )= title
-for (var i = 0; i < menutopnav.length; i++)
  -var d = menutopnav[i]
  +topNav(d.title, d.src)